body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.Board{
    left:25%;
    top: 50px;
    position: relative;
    border: 1px solid black;
    width: 720px;
    height: 720px;
    background-color: #cee6d0;
}

div.tile{
  position: relative;
  border: 1px solid black;
  width: 60px;
  height: 80px;

}

p.tileText{
  color: black;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

div.tileColor{
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 20%;
  top: 0;
  left: -1px;
}

div.tileInfo{
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 38%;

}

div.BottomRow{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 0px;
  right: 0px;
}

div.TopRow{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
}

div.LeftColumn{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 278px;
  left: -280px;
  transform: rotate(90deg);
}

div.RightColumn{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 278px;
  right: -280px;
  transform: rotate(90deg);
}

div.tileCorner{
    position: relative;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    background-color: black;
}

.canvas{
  z-index: 10;
  left:24.7%;
  top: 46px;
  position: absolute;
  border: 5px solid brown;
  width: 720px;
  height: 720px;
}

.centreImage{
  transform: scale3d(0.5,0.5,0.5);
  position: absolute;
  left: 175px;
  top: 180px;
}

img.cornerImage{
  width: 100%;
  height: 100%;
}

.playerInterface{
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: 10;
  width: 300px;
  height: 300px;
  background-color: pink;
  border: 1px solid black;
}

.dice-div{
  z-index: 10;
}


.rolldicebutton{
  position: relative;
  width: 110px;
  height: 55px;
  top: 0px;
}

.endTurn{
  z-index: 10;
  width: 110px;
  height: 55px;
}

.endTurnButton{
  z-index: 10;
  width: 110px;
  height: 55px;
}

.startNewGame{
  position: absolute;
  left: 550px;
  top: 200px;
  z-index: 10;
  height: 100px;
  width: 300px;
}

.BuyProperty{
  position: absolute;
  width: 110px;
  height: 55px;
  bottom: 0px;
}

.ManageProperty{
  position: absolute;
  width: 110px;
  height: 55px;
  bottom: 0px;
  left: 110px;
}
